@model Maquis_Kevin_LigaProEcuadorMVC.Models.Equipo

@{
    ViewData["Title"] = "Details";
}

<h1>Inforrmacion de @Model.Nombre</h1>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="row">
        
        <dd class="col-sm-10">
            <img src="@Model.LOGOUrl" alt="Logo de @Model.Nombre" width="100" height="100" />
        </dd>
        <dd class="col-sm-10">
            Descripcion: @Model.Descripcion
        </dd>
        <dt class="col-sm-2">
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosJugados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosJugados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosGanados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosGanados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosEmpatados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosEmpatados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosPerdidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosPerdidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntos)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) |
    <a asp-controller="Equipo" asp-action="ListaEquipos" class="btn btn-primary">Back to List</a>
</div>
